<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>AngularProject || ASHISH CHAUHAN</h1>
            <p>GOOD Taste, Awesome Food</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3 ms-auto">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
       
    </div>
</div>