<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>
    <dl>
        <dt>Ashish Chauhan Food Service</dt>
        <dd>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate excepturi adipisci eveniet nisi ab architecto delectus corrupti sint libero quo quam voluptates exercitationem quaerat dolore non, consequuntur impedit provident recusandae?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dicta cumque veniam, pariatur non sequi, odio voluptates doloremque, impedit quidem provident voluptate similique? Hic eligendi facilis fugiat voluptas assumenda. Excepturi.</dd>

              <dt>Investments and acquisitions</dt>
          <dd>- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam nihil, quia unde obcaecati, quis necessitatibus fuga voluptatum enim beatae ipsum eligendi est odio quaerat doloremque ut delectus maxime inventore tenetur!LoremLorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam nihil, quia unde obcaecati, quis necessitatibus fuga voluptatum enim beatae ipsum eligendi est odio quaerat doloremque ut delectus maxime inventore tenetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dicta error, autem quasi temporibus sed soluta vitae veniam delectus, nesciunt harum, reprehenderit nostrum eos rem? Iusto reprehenderit facere non incidunt!</dd>
          <dt>Partnerships</dt>
          <dd>- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam nihil, quia unde obcaecati, quis necessitatibus fuga voluptatum enim beatae ipsum eligendi est odio quaerat doloremque ut delectus maxime inventore tenetur lotrem Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, nam quam. Optio enim quo, perferendis nobis modi illum fuga perspiciatis laudantium unde debitis et voluptatibus, vero magnam impedit, consectetur aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda iusto obcaecati eius sunt quis odit alias esse id animi doloremque asperiores temporibus hic, at labore aspernatur in officiis ipsa voluptatibus.

          </dd>
          
          <dt>Reference</dt>
          <dd>- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam nihil, quia unde obcaecati, quis necessitatibus fuga voluptatum enim beatae ipsum eligendi est odio quaerat doloremque ut delectus maxime inventore tenetur lotrem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste reprehenderit aspernatur, voluptatem cum doloribus fuga amet deleniti recusandae aliquid officia quas quidem aut! Repudiandae ad assumenda voluptatum, aliquid blanditiis Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem vitae excepturi tempora atque, voluptates aut ipsam corrupti omnis praesentium quasi exercitationem nam inventore repudiandae officia dolorem labore consectetur eos eligendi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit atque alias aliquid, error quidem reprehenderit molestiae, quisquam temporibus totam nostrum at asperiores laudantium placeat repudiandae id nesciunt corrupti pariatur obcaecati!

          </dd>
          
          
        </dl>
</div>